<h1>Générateur de micro-site IRFM</h1>

<p>Bienvenue sur le générateur de micro-site IRFM. Cet outil vous permet de créer de manière automatisée un compte-rendu de votre utilisation de l'IRFM, et de la mettre en ligne sous un format simple et accessible à l'ensemble des citoyens.</p>
<p>Aucune des informations transmises ne sont stockées : nous n'agissons que comme une "passerelle" avec votre banque en ligne afin de générer votre site. La procédure est réalisée avec les normes de sécurité en vigueur et garantit la confidentialité de vos données.</p>

<% if flash[:alert] %>
    <div class="col-12">
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    </div>
<% end %>

<form class="form-irfm" method="post">
  <h2 class="form-irfm-heading">Merci de bien vouloir compléter les informations ci-après :</h2>
  <div class="form-group row">
    <label for="inputAssnatmail" class="col-6 col-form-label">1. Saisissez votre adresse mail au format de l'Assemblée Nationale</label>
    <div class="col-6">
      <input type="email" id="inputAssnatmail" name="inputAssnatmail" class="form-control" placeholder="prenom.nom@assemblee-nationale.fr" required="true" autofocus="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputBanklogin" class="col-6 col-form-label">2. Saisissez votre identifiant bancaire</label>
    <div class="col-6">
      <input type="text" id="inputBanklogin" name="inputBanklogin" class="form-control" placeholder="IDENTIFIANTBANQUE" required="true">
    </div>
    </div>
  <div class="form-group row">
    <label for="inputBankpass" class="col-6 col-form-label">3. Saisissez votre mot de passe bancaire</label>
    <div class="col-6">
      <input type="password" id="inputBankpass" name="inputBankpass" class="form-control" placeholder="PASSEBANQUE" required="true">
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
</form>