<!DOCTYPE html>
<html>
  <head>
    <title>Générateur de micro-site IRFM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer>
    <small>Projet par Parlement-Ouvert - Emmanuel Raviart & Maxime Alay-Eddine</small>
  </footer>
</html>